<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Working With Time Series Data

---

### Learning Objectives
 
**After this lesson, you will be able to:**
- Identify time series data.
- Explain the challenges of working with time series data.
- Use the `datetime` library to represent dates as objects.
- Preprocess time series data with Pandas.

---

### Lesson Guide

#### Time Series Data
- [What is a Time Series](#A)
- [The Datetime Library](#B)
- [Preprocessing Time Series Data with Pandas](#C)
- [Independent Practice](#D)
----

<h2><a id="A">What is a Time Series?</a></h2>

A **time series** is a series of data points that's indexed (or listed, or graphed) in time order. Most commonly, a time series is a sequence that's taken at successive equally spaced points in time. Time series are often represented as a set of observations that have a time-bound relation, which is represented as an index.

Time series are commonly found in sales, analysis, stock market trends, economic phenomena, and social science problems.

These data sets are often investigated to evaluate the long-term trends, forecast the future, or perform some other form of analysis.

> **Check for Understanding:** List some examples of real-world time series data.

### Let's take a look at some Apple stock data to get a feel for what time series data look like.

In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta
%matplotlib inline

aapl = pd.read_csv("data/aapl.csv")

Take a high-level look at the data. What are we looking at?

In [2]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0  13-Jan-17  119.11  119.62  118.81  119.04  26111948
1  12-Jan-17  118.90  119.30  118.21  119.25  27086220
2  11-Jan-17  118.74  119.93  118.60  119.75  27588593
3  10-Jan-17  118.77  119.38  118.30  119.11  24462051
4   9-Jan-17  117.95  119.43  117.94  118.99  33561948

In [3]:
aapl.describe()

             Open        High         Low       Close        Volume
count  251.000000  251.000000  251.000000  251.000000  2.510000e+02
mean   105.155100  106.060518  104.392550  105.292191  3.674495e+07
std      7.905047    7.876708    7.995679    7.963102  1.609059e+07
min     90.000000   91.670000   89.470000   90.340000  1.147592e+07
25%     97.355000   98.220000   96.690000   97.340000  2.665144e+07
50%    106.270000  107.270000  105.500000  106.100000  3.229234e+07
75%    111.450000  112.370000  110.700000  111.750000  4.137394e+07
max    119.110000  119.930000  118.810000  119.750000  1.322245e+08

In [4]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    251 non-null    object
 1   Open    251 non-null    float64
 2   High    251 non-null    float64
 3   Low     251 non-null    float64
 4   Close   251 non-null    float64
 5   Volume  251 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 11.9+ KB

<h2><a id="B">The DateTime library</a></h2>

As time is important to time series data, we will need to interpret these data in the ways that humans interpret them (which is many ways). 

Python's `DateTime` library is great for dealing with time-related data, and Pandas has incorporated this library into its own `datetime` series and objects.

In this lesson, we'll review these data types and learn a little more about each of them:

* `datetime` objects.
* `datetime` series.
* Timestamps.
* `timedelta()`.

### `datetime` Objects

Below, we'll load in the `DateTime` library, which we can use to create a `datetime` object by entering in the different components of the date as arguments.

In [5]:
# The datetime library is something you should already have from Anaconda.
#from datetime import datetime

In [10]:
# Let's just set a random datetime â€” not the end of the world or anything.
lesson_date = datetime(2031, 3, 8, 4, 10 , 10, 650020)

In [11]:
lesson_date

datetime.datetime(2031, 3, 8, 4, 10, 10, 650020)

In [15]:
print("Year", lesson_date.year)
print("Month",lesson_date.month)
print("Day", lesson_date.day)
print("Hour", lesson_date.hour)
print("Minute", lesson_date.minute)
print("Second", lesson_date.second)
print("Micro-Second", lesson_date.microsecond)

Year 2031
Month 3
Day 8
Hour 4
Minute 10
Second 10
Micro-Second 650020

The components of the date are accessible via the object's attributes.

**Exercise: Set your own date**

In [17]:
your_date = datetime(2021, 3, 8, 4, 10 , 10, 650020)

In [18]:
print("Year", your_date.year)
print("Month",your_date.month)
print("Day", your_date.day)
print("Hour", your_date.hour)
print("Minute", your_date.minute)
print("Second", your_date.second)
print("Micro-Second", your_date.microsecond)

Year 2021
Month 3
Day 8
Hour 4
Minute 10
Second 10
Micro-Second 650020

### `timedelta()`

Suppose we want to add time to or subtract time from a date. Maybe we're using time as an index and want to get everything that happened a week before a specific observation.

We can use a `timedelta` object to shift a `datetime` object. Here's an example:

In [19]:
# Import timedelta() from the DateTime library.
#from datetime import timedelta

# Timedeltas represent time as an amount rather than as a fixed position.
offset = timedelta(days=1, seconds=20)

# The timedelta() has attributes that allow us to extract values from it.
print('offset days', offset.days)
print('offset seconds', offset.seconds)
print('offset microseconds', offset.microseconds)

offset days 1
offset seconds 20
offset microseconds 0

In [20]:
lesson_date

datetime.datetime(2031, 3, 8, 4, 10, 10, 650020)

In [21]:
lesson_date + offset

datetime.datetime(2031, 3, 9, 4, 10, 30, 650020)

`datetime`'s `.now()` function will give you the `datetime` object of this very moment.

In [22]:
now = datetime.now()
print("Like Right Now: ", now)

Like Right Now:  2021-09-23 11:43:26.470248

The current time is particularly useful when using `timedelta()`.

In [23]:
print("Future: ", now + offset)
print("Past: ", now - offset)

Future:  2021-09-24 11:43:46.470248
Past:  2021-09-22 11:43:06.470248

*Note: The largest value a `timedelta()` can hold is days. For instance, you can't say you want your offset to be two years, 44 days, and 12 hours; you have to convert those years to days.*

You can read more about the `timedelta()` category [here](https://docs.python.org/2/library/datetime.html).

### Guided Practice: Apple Stock Data

We can practice using `datetime` functions and objects using Apple stock data.

In [24]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0  13-Jan-17  119.11  119.62  118.81  119.04  26111948
1  12-Jan-17  118.90  119.30  118.21  119.25  27086220
2  11-Jan-17  118.74  119.93  118.60  119.75  27588593
3  10-Jan-17  118.77  119.38  118.30  119.11  24462051
4   9-Jan-17  117.95  119.43  117.94  118.99  33561948

The `Date` column starts off as an object.

In [25]:
# Notice that date is a string
aapl.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

## Preprocessing Time Series Data with Pandas

### Convert time data to a `datetime` object.

Overwrite the original `Date` column with one that's been converted to a `datetime` series.

In [26]:
aapl['Date'] = pd.to_datetime(aapl.Date)

We can see these changes reflected in the `Date` column structure.

In [27]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0 2017-01-13  119.11  119.62  118.81  119.04  26111948
1 2017-01-12  118.90  119.30  118.21  119.25  27086220
2 2017-01-11  118.74  119.93  118.60  119.75  27588593
3 2017-01-10  118.77  119.38  118.30  119.11  24462051
4 2017-01-09  117.95  119.43  117.94  118.99  33561948

We can also see that the `Date` object has changed.

In [28]:
aapl.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
dtype: object

### The `.dt` Attribute

Pandas' `datetime` columns have a `.dt` attribute that allows you to access attributes that are specific to dates. For example:

    aapl.Date.dt.day
    aapl.Date.dt.month
    aapl.Date.dt.year
    aapl.Date.dt.day_name()

And, there are many more!

In [20]:
aapl['Date'].dt.day_name().head()

0       Friday
1     Thursday
2    Wednesday
3      Tuesday
4       Monday
Name: Date, dtype: object

In [21]:
aapl.Date.dt.dayofyear.head()

0    13
1    12
2    11
3    10
4     9
Name: Date, dtype: int64

Check out the Pandas `.dt` [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.dt.html) for more information.

### Timestamps

Timestamps are useful objects for comparisons. You can create a timestamp object using the `pd.to_datetime()` function and a string specifying the date. These objects are especially helpful when you need to perform logical filtering with dates.

In [22]:
ts = pd.to_datetime('1/1/2017')
ts

Timestamp('2017-01-01 00:00:00')

The main difference between a `datetime` object and a timestamp is that timestamps can be used as comparisons.

Let's use the timestamp `ts` as a comparison with our Apple stock data.

In [25]:
aapl.loc[aapl.Date >= ts, :].head()

        Date    Open    High     Low   Close    Volume
0 2017-01-13  119.11  119.62  118.81  119.04  26111948
1 2017-01-12  118.90  119.30  118.21  119.25  27086220
2 2017-01-11  118.74  119.93  118.60  119.75  27588593
3 2017-01-10  118.77  119.38  118.30  119.11  24462051
4 2017-01-09  117.95  119.43  117.94  118.99  33561948

We can even get the first and last dates from a time series.

In [26]:
aapl.Date.max() - aapl.Date.min()

Timedelta('360 days 00:00:00')

> **Check for Understanding:** Why do we convert the DataFrame column containing the time information into a `datetime` object?

### Set `datetime` to Index the DataFrame

After converting the column containing time data from object to `datetime`, it is also useful to make the index of the DataFrame a `datetime`.

In [27]:
aapl.head()

        Date    Open    High     Low   Close    Volume
0 2017-01-13  119.11  119.62  118.81  119.04  26111948
1 2017-01-12  118.90  119.30  118.21  119.25  27086220
2 2017-01-11  118.74  119.93  118.60  119.75  27588593
3 2017-01-10  118.77  119.38  118.30  119.11  24462051
4 2017-01-09  117.95  119.43  117.94  118.99  33561948

Let's set the `Date` column as the index.

In [28]:
aapl.set_index('Date', inplace=True)

In [29]:
aapl.head()

              Open    High     Low   Close    Volume
Date
2017-01-13  119.11  119.62  118.81  119.04  26111948
2017-01-12  118.90  119.30  118.21  119.25  27086220
2017-01-11  118.74  119.93  118.60  119.75  27588593
2017-01-10  118.77  119.38  118.30  119.11  24462051
2017-01-09  117.95  119.43  117.94  118.99  33561948

### Filtering by Date with Pandas

It is easy to filter by date using Pandas. Let's create a subset of data containing only the stock prices from 2017. We can specify the index as a string constant.

In [33]:
aapl['2017']

/Users/bar/dev/miniconda/envs/ga/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

              Open    High     Low   Close    Volume
Date
2017-01-13  119.11  119.62  118.81  119.04  26111948
2017-01-12  118.90  119.30  118.21  119.25  27086220
2017-01-11  118.74  119.93  118.60  119.75  27588593
2017-01-10  118.77  119.38  118.30  119.11  24462051
2017-01-09  117.95  119.43  117.94  118.99  33561948
2017-01-06  116.78  118.16  116.47  117.91  31751900
2017-01-05  115.92  116.86  115.81  116.61  22193587
2017-01-04  115.85  116.51  115.75  116.02  21118116
2017-01-03  115.80  116.33  114.76  116.15  28781865

There are a few things to note about indexing with time series. Unlike numeric indexing, the end index will be included. If you want to index with a range, the time indices must be sorted first.

> **Recap:** The steps for preprocessing time series data are to:
* Convert time data to a `datetime` object.
* Set `datetime` to index the DataFrame.

# Recap

* We use time series analysis to identify changes in values over time.
* The `datetime` library makes working with time data more convenient.
* To preprocess time series data with Pandas, you:
    1. Convert the time column to a `datetime` object.
    2. Set the time column as the index of the DataFrame.

<h2><a id="D">Independent Practice</a></h2>

**Instructor Note**: These are optional and can be assigned as student practice questions outside of class.

### 1) Create a `datetime` object representing today's date.

In [ ]:
todays_date =
todays_date

### 2) Load the UFO data set from the internet.

In [ ]:
# Import ufo data

ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
# look at the 
ufo.tail()

### 3) Convert the `Time` column to a `datetime` object.

### 4) Set the `Time` column to the index of the dataframe.

### 5) Create a `timestamp` object for the date January 1, 1999.

### 6) Use the `timestamp` object to perform logical filtering on the DataFrame and create a subset of entries with a date above or equal to January 1, 1999.